#page-header {
  height: $header-height;
  background-color: $header-background-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

  .logo-container {
    flex: 1;
  }
  .nav-container {
    flex: 2;
    height: 100%;
    .nav-wrapper {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      height: 100%;
      li {
        height: 100%;
        cursor: pointer;
        text-align: center;
        margin-right: 4%;
        display: flex;
        align-items: center;
        border-top: 4px solid $header-background-color;
        a {
          height: 100%;
          display: flex;
          align-items: center;
        }
        &:last-child {
          margin-right: 0px;
        }

        &.active {
          border-top: 4px solid $--cobalt-blue;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #page-header {
    height: auto;

    .logo-container {
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
    }
    .nav-container {
      height: 50px;
    }
  }
}
