#home-container {
  padding: 0 10%;
  .home-wrapper {
    display: flex;
    flex-wrap: wrap;
    .description-container {
      flex: 1;
      .description-wrapper {
        width: 65%;
      }
      .title-container {
        h1 {
          display: inline-block;
          padding: 8px 4px;
          background-color: $--cobalt-blue;
          font-family: Roboto;
          font-size: 36px;
          font-weight: 900;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.11;
          letter-spacing: 0.77px;
          color: #fff;
        }
      }
    }
    .calculator-container {
      flex: 1;
      .range-component {
        .description-container {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          p:first-child {
            flex: 1;
          }
          div:last-child {
            flex: 3;
            text-align: right;
          }
          input[type="text"] {
            max-width: 150px;
            outline: none;
            text-align: right;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.11;
            letter-spacing: 0.77px;
            text-align: right;
            color: $--black;
          }
        }
      }
      .totals-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        flex-wrap: wrap;
        .total-text {
          font-family: Roboto;
          font-size: 72px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: 1px;
          text-align: right;
          color: $--cobalt-blue;

          span {
            font-size: 36px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  #home-container {
    .home-wrapper {
      margin-bottom:$md-spacing;
      .description-container {
        .description-wrapper {
        }
      }
      .calculator-container {
        .totals-container {
          justify-content: flex-end;
          text-align: right;
          .total-text{
            margin-top: $sm-spacing;
          }
            
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  #home-container {
    .home-wrapper {
      .description-container {
        .description-wrapper {
          width: 100%;
        }
      }
    }
  }
}
