#testimonials-container {
  padding: 0 10%;

  .customer-love-us-container {
    background-color: $--cobalt-blue;
    padding: 8px 4px;
    display: inline-block;
    h1 {
      font-family: Roboto;
      font-size: 36px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.11;
      letter-spacing: 0.77px;
      color: #fff;
    }
  }
  .testimonials-slider-container {
    background-color: #fff;
    min-height: 254px;
    max-width: 1000px;
    padding: 32px;
    position: relative;

    .slide-container {
      display: none;
      &.active {
        display: flex;
      }
    }

    .author-info-container {
      flex: 1;
      p {
        font-size: 32px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $--black;
      }
      small {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $--greyish;
      }
    }
    .author-testimonial-container {
      flex: 2;
      p {
        font-family: Roboto;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $--black;
      }
    }
    .slider-controls {
      position: absolute;
      bottom: -23px;
      right: -100px;
      min-width: 200px;
      height: 56px;
      background-color: $--cobalt-blue;
      color: #fff;
      display: flex;
      align-items: center;
      .paginator {
        flex: 1;
        display: flex;
        align-items: center;
        align-self: center;
        text-align: center;
        border-right: 1px solid #fff;
        height: 100%;
        justify-content: center;
        p {
          display: inline-block;
          font-family: CormorantGaramond;
          font-size: 32px;
          font-weight: 600;
          font-stretch: normal;
          font-style: italic;
          line-height: 1;
          letter-spacing: 0.69px;
        }
      }
      .arrows {
        display: flex;
        flex: 1;
        justify-content: space-around;
        div {
          cursor: pointer;

          p {
            font-size: 32px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  #testimonials-container {
    .testimonials-slider-container {
      margin-bottom: $md-spacing;
      .slide-container {
        &.active {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
        }
      }
      .slider-controls {
        right: 0;
        bottom: -40px;
      }
    }
  }
}
