#slider-range {
  .rangeslider {
    margin: 0;
    background-color: #f0f2ff;
    box-shadow: none;
  }
  .rangeslider-horizontal {
    border-radius: 0;
    height: 4px;
    .rangeslider__fill {
      border-radius: 0;
      background-color: $--cobalt-blue;
    }
    .rangeslider__handle {
      width: 16px;
      height: 16px;
      background-color: $--cobalt-blue;
      box-shadow: none;
      border: none;
      &:after {
        width: 6px;
        height: 6px;
        box-shadow: none;
        background-color: #fff;
        top: 5px;
        left: 5px;
      }
    }
  }
}
