// COLORS
$--primary-color: #ddd;
$--black: #161616;
$--greyish: #a5a5a5;
$--ice-blue: #f9faff;
$--cobalt-blue: #071eb3;
$--pale-lilac: #d6dcff;

$header-background-color: #fff;

//HEIGHTS
$header-height: 64px;

// SPACING
$xs-spacing: 8px;
$sm-spacing: 16px;
$md-spacing: 32px;
$lg-spacing: 64px;
$xl-spacing: 128px;

// FUENTES
@font-face {
  font-family: CormorantGaramond;
  src: local(CormorantGaramond-SemiBoldItalic),
    // url(/fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.woff2)
    //   format("woff2"),
    // url(/fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.woff)
    //   format("woff"),
    url(/fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf)
      format("truetype");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: Roboto;
  src: local(Roboto-Regular),
    // url(/fonts/Roboto/Roboto-Regular.woff2) format("woff2"),
    // url(/fonts/Roboto/Roboto-Regular.woff) format("woff"),
    url(/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Roboto;
  src: local(Roboto-Medium),
    // url(/fonts/Roboto/Roboto-Medium.woff2) format("woff2"),
    // url(/fonts/Roboto/Roboto-Medium.woff) format("woff"),
    url(/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
.Text-Style {
  font-family: CormorantGaramond;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: 1;
  letter-spacing: 0.69px;
  color: #fff;
}
.Text-Style-3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $--black;
}
.Text-Style-2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: $--cobalt-blue;
}

.Text-label {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $--black;
}
