@import "variables";
@import "../components/Header/Header.scss";
@import "../containers/Home/Home.scss";
@import "../containers/Testimonials/Testimonials.scss";
@import "../components/CustomRange/CustomRange.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
h1,
p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.input-group {
  position: relative;
  display: inline-block;
  .input-text {
    position: absolute;
    top: 6px;
    left: 12px;
    opacity: 0.24;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.51px;
    color: $--black;
  }
  input[type="text"] {
    padding: 6px 12px;
    border-radius: 4px;
    border: solid 1px $--pale-lilac;
    background-color: #fff;
  }
}

.bellotero-background {
  background-color: $--ice-blue;
  min-height: calc(100vh - #{$header-height});
}

.xs-spacing {
  height: $xs-spacing;
}
.sm-spacing {
  height: $sm-spacing;
}
.md-spacing {
  height: $md-spacing;
}
.lg-spacing {
  height: $lg-spacing;
}
.xl-spacing {
  height: $xl-spacing;
}
